@use './partials/global' as *;
@use './partials/breakpoints' as *;
@use './partials/colors' as *;

.title-splash{
    background: hero-overlay("/assets/images/hero-bio.jpg");
    padding: 5rem 0rem 5rem 1rem;
    background-size: 100%;
    color:white;
    @include desktop{
        padding: 25% 0rem 25% 9rem;

    }
    @include tablet{
        padding: 33% 0rem 25% 3rem;

    }
}


.about{
    // top/bottom left/right
    @include mobile{
        margin: 0 1rem;
    }

    @include tablet{
        margin: 0 3rem;
    }

    @include desktop{
        margin: 0 9rem;
    }

    &__image{
        @include desktop{
            height: 30rem;
        }
    }

    &__header{
        @include desktop{
            display: flex;
            width: 100%;
        }

    }

    &__section{
        @include desktop{
            margin: auto;
            width: 75%;
        }

    }

    &__quote{
        @include desktop{
            font-size: 1.25rem;
        }
    }

    &__quote--source{
        @include desktop{
            font-weight: 400;
        }
    }
}

.sideBySide{
    @include desktop{
        display: flex;
    
        & > p{
            margin: 0 .75rem;
        }
    }
}

.photo-gallery{
    @include mobile{

    padding: 0 1rem 1rem 1rem;
    background-color: $Alabaster;
    }
    @include desktop{
        display: flex;
        margin: 0;
        padding: 2rem 9rem 0 9rem;
        
    }

    &__images{
        @include tablet{
            justify-content: center;
            display:flex;
            flex-wrap: wrap;
        }


    }

    &__image{
        @include tablet{
            padding: 0.5rem 1rem 0.5rem 0;
            width: 30%;
            height: auto;
        }
    }

}

.comment-section{
    display: flex;
    flex-direction: column;

    &__icon-wrapper{
        @include mobile{
            display:flex;
        }
    }
    @include mobile{
        margin: 0 1rem 1rem 1rem;
    }

    &__user-input{
        @include mobile{

            display: flex;
            flex-direction: column;
        }
    }


    &__horizontal-flex{
        @include mobile{
            display: flex;
            justify-content: center;
            
        }
    }

    &__user-icon{
        border-radius: 50%;
        @include mobile{
            margin: 1.5rem 1rem 0 0;
            width: 2.25rem;
            height: 2.25rem;
        }
    }

    &__user-input{
        padding: 1rem;
        background-color: $Alabaster;
        border: thin;
        border-style: solid;
        border-color: $Mercury;
        width: 100%;
        border-radius: 4%;
        @include mobile{
            padding: .75rem;
            margin-bottom: 1rem;
        }

        &--comment-box{
            padding: 1rem;
            background-color: $Alabaster;
            border: thin;
            border-style: solid;
            border-color: $Mercury;
            width: 100%;
            border-radius: 4%;
            @include mobile{
                padding-bottom: 3.5rem;
                margin-bottom: 1rem;
            }

        }



        &:active{
            border-color: $BandSite-Black;
        }

        &--error{
            border-color: $Error;
        }
    }

    &__submit-button{
        @include mobile{
            width: 100%;
        }
        @include tablet{
            width: auto;
            
        }
        
    }

    &__comment{
        @include tablet{
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 50%;
        }
        &-meta{
            display: flex;
            justify-content: space-between;
        }
    }

    &__list{
        @include tablet{
            display: flex;
            align-items: center;
            flex-direction: column;
        }
    }
}


label{
    margin: .25rem;
    color: $Silver;
    @include mobile{
        font-size: .625rem ;
    }
    @include tablet{
        font-size: 0.75rem;
    }
}

.button-box{
    display: flex;
    justify-content: flex-end;
}

