@use './partials/global' as *;
@use './partials/breakpoints' as *;
@use './partials/colors' as *;

h1{
    @include marginless;
    text-transform: uppercase;
    line-height: 1.25rem;
    font-weight: 400;
}

ul {
    list-style-type: '';
    padding: 0;
}

nav{
    display: flex;
    @include mobile{

        flex-direction: column;
    }
}

img{
    @include mobile{
        width: 100%;
        height: 100%;
    }
}

footer{
    background-color: $BandSite-Black;
    color: $White;
    display: flex;
    @include mobile{
        flex-direction: column;
        padding: 0 0 0 1rem;
        flex-wrap: wrap;
    }
}

.bandsite{
    @extend .header__page;
    text-transform: uppercase;
    font-weight: 400;
    margin: 2rem 0 0 0rem;
}

.flex--center{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
}

.bottom{
    display: flex;
    @include mobile{
        margin: 0rem 1rem 1rem 1rem;
        justify-content: space-around;
    }

}

.title-splash{
    background: hero-overlay("/assets/images/hero-bio.jpg");
    padding: 5rem 5rem 5rem 1rem;
    background-size: 100%;
    color:white;
}


.about{
    // top/bottom left/right
    @include mobile{
        margin: 0 1rem;
    }

}

.photo-gallery{
    @include mobile{

    margin: 0 1rem 1rem 1rem;
    background-color: $Alabaster;
    }

}