@use './partials/global' as *;
@use './partials/breakpoints' as *;
@use './partials/colors' as *;

iframe{
    padding: 1rem 1rem 1rem 0;
    flex-shrink: 1;
    width: 50%;
}

button{
    @include mobile{
        width: 100%;
    }
    @include tablet{
        width: auto;
    }
}

.horizontal{
    @include mobile{
        display: flex;
        flex-direction: column;
    }
    @include tablet{

        padding-left: 9rem;
        display: flex;
        align-items: center;
        flex-direction: row;
        gap: 3rem;
    }


}

.title-splash{
    background: hero-overlay("/assets/images/Photo-gallery-3.jpg");
    padding:2rem 0rem 2rem 1rem;
    background-size: 100%;
    color:white;
    @include desktop{
        padding: 25% 1rem 25% 9rem;

    }
}

.shows{
    @include mobile{
        display: flex;
        flex-direction: column;
        margin: auto 1rem 1rem 1rem;
    }

    @include tablet{
        margin-left: 6rem;
        flex-wrap: wrap;
    }
    @include desktop{
        margin-left: 9rem;
        flex-direction: row;
        flex-wrap: nowrap;
        
    }

    &__meta-bar{
        @include mobile{
            display: none;

        }
        @include tablet{
            display: flex;
            align-items: baseline;
            justify-content: space-between;
            @include tablet{
                & > *{flex: 1;}
            }

            
        }
    }
    &__meta-name{
        color: $Silver;
        text-transform: uppercase;

        @include tablet{
            display: none;
        }

        &--tablet{
            color: $Silver;
            text-transform: uppercase;
            flex: 1;
            display: block;
        }
    }


    &__meta-date{
        font-weight: 700;
        text-transform: uppercase;
        &--tablet{
            font-weight: 700;
            text-transform: uppercase;
            flex: 1;
            display: block;
        }
    }

    &__wrapper{
        @include desktop{
            flex-grow: 1;
        }
    }

    &__listing{
        @include tablet{
            display: flex;
            justify-content: space-between;
            & > *{flex: 1;}
        }
    }

}